.navLogo{
    width:180px;
    height: 100px;
    display:flex;
}

.logoContainer{
    width:200px;
    align-items: center;
}

.color1{
    color: #0B567B
}

.anker{
    text-decoration: none;
    color: #0B567B
}

.button{
    background-color: #0B567B !important
}